/* @font-face {
  font-family: "Twentieth Century";
  src: url("//db.onlinewebfonts.com/t/90cb7bb668481e6489432e687533592a.eot");
  src: url("//db.onlinewebfonts.com/t/90cb7bb668481e6489432e687533592a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/90cb7bb668481e6489432e687533592a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/90cb7bb668481e6489432e687533592a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/90cb7bb668481e6489432e687533592a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/90cb7bb668481e6489432e687533592a.svg#Twentieth Century")
      format("svg");
} */

@font-face {
  font-family: "Twentieth Century";
  src: url("fonts/twentiethCentury/90cb7bb668481e6489432e687533592a.eot");
  src: url("fonts/twentiethCentury/90cb7bb668481e6489432e687533592a.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/twentiethCentury/90cb7bb668481e6489432e687533592a.woff2")
      format("woff2"),
    url("fonts/twentiethCentury/90cb7bb668481e6489432e687533592a.woff")
      format("woff"),
    url("fonts/twentiethCentury/90cb7bb668481e6489432e687533592a.ttf")
      format("truetype"),
    url("fonts/twentiethCentury/90cb7bb668481e6489432e687533592a.svg#svgFontName")
      format("svg");
}

:root {
  --blue: #002781;
  --yellow: #e9df26;
  --metalValueColor: orange;
  --roughValueColor: yellow;
  --zoomValueColor: #eaeaea;

  --buttonBackground: #292929;
  --buttonBackgroundActive: white;
  --buttonBackgroundInactive: #121212;
  --buttonBackgroundLocked: orange;
  --buttonColor: hsl(220, 20%, 50%);
  --buttonColorActive: black;
}

body {
  color: white;
  background-color: var(--blue);

  font-family: "Twentieth Century", Sans-serif;
  text-transform: uppercase;
  display: grid;

  grid-template-rows: repeat(5, auto);

  grid-template-areas:
    "header"
    "intro"
    "demo"
    "outro"
    "footer";
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}
.navbutton {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbutton material-symbols-outlined {
  font-size: 4rem !important;
}

.nextbutton {
  right: 5vw;
}

.prevbutton {
  left: 5vw;
}

.colorMenu {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 40px;
}

.materialsMenu {
  position: absolute;
  top: 200px;
  left: 200px;
}

.zoomMenu {
  position: absolute;
  top: 90%;
  left: 60%;
}
.dragHandleZoom {
  transform: translateX(-150%);
  border-radius: 2px !important;
}
.zoomSliderMenu {
}
.zoomTitle {
}

.zoomSlider {
}

.colorIcon {
  width: 40px;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  z-index: 100;
  transform: translate(-5px, -5px);
  border: 6px solid #ffffff;
  background: conic-gradient(red, orange, yellow, green, blue, purple, red);
}

.colorLockButton {
  width: 60px;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  z-index: 100;
  transform: translate(20%, 0);
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--buttonColor);
  padding-right: 10px;
  background-color: var(--buttonBackground);
}

.colorLockButtonActive {
  background-color: var(--buttonBackgroundActive);
  color: var(--buttonColorActive);
}

.clr-field {
  visibility: hidden;
  top: 30px;
  left: -10px;
}

.materialMenuTextfield {
  visibility: hidden;
}

.materialSection {
  display: flex;
  align-items: space-between;
  justify-content: end;
}

.openIcon {
}

.slider {
  margin-left: 10px;
}

.materialTitle {
  padding: 0;
  margin: 0;
}

.dragButton {
  position: absolute;
  top: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 16px;
  background-color: #292929;
  color: var(--buttonColor);
}

.toggleDragButtonActive {
  /* background-color: var(--buttonBackgroundActive); */
  background-color: #fefefe;
  color: #000000;
}

.toggleDragButton {
  left: 20px;
}
.resetDragButton {
  left: 80px;
}

.dragHandle {
  height: 100%;
  background-color: white;
  position: absolute;
  border-radius: 16px;
  display: none;
  align-items: center;
  justify-content: start;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dragSymbol {
  color: black;
  pointer-events: none;
}

.dragHelpButton {
  position: absolute;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragHelpNavButton {
  position: absolute;
  width: 110%;
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5%;
  font-size: 10px !important;
  opacity: 100%;
}

.helpItem {
  opacity: 90%;
  color: hsl(70, 100%, 50%);
  background-color: hsla(220, 40%, 40%, 1);
}

.helpItemHidden {
  display: none !important;
}

.helpColor {
  width: 120%;
  height: 190%;
  position: absolute;
  transform: translate(-30%, -35%);
  display: flex;
  justify-content: center;
  border-radius: 16px;
}

.materialsMenu *,
.zoomMenu * {
  z-index: 5;
}

.helpMaterials {
  width: 120%;
  height: 190%;
  position: absolute;
  transform: translate(-5%, -35%);
  display: flex;
  justify-content: center;
  border-radius: 16px;
  z-index: 1;
}

.helpZoom {
  width: 120%;
  height: 300%;
  position: absolute;
  transform: translate(-5%, -40%);
  display: flex;
  justify-content: center;
  border-radius: 16px;
  z-index: 1;
}

.dragHandleColor {
  width: 60px;
  transform: translateX(-30px);
  padding-left: 5px;
}

.dragHandleMaterial {
  width: 50px;
  top: 50%;
  transform: translate(-65px, -50%);
  justify-content: center;
}

.copyPropsButton {
  left: 140px;
  background-color: var(--buttonBackgroundInactive);
  color: var(--buttonColor);
}

.copyPropsButtonActive {
  background-color: #898989;
  color: hsl(220, 80%, 40%);
}

.pasteProps {
  position: absolute;
  top: 10px;
  left: 200px;
  width: 54px;
  height: 54px;
  --metalness: 75%;
  --roughness: 50%;
}
.pastePropsButton {
  top: 0;
  --background-color: none;
}

.pastePropsButton::before {
  content: "";
  width: 115%;
  height: 115%;
  background-color: var(--background-color);
  position: absolute;
  z-index: -10;
  border-radius: 16px;
}

.pasteSwatch {
  width: 50px;
  right: -48px;
  height: 30%;
  position: absolute;
  border-radius: 0 16px 16px 0;
  border: 1px solid white;
  display: none;
}

.colorPasteSwatch {
  bottom: -5px;
  width: 50px;
  right: -30px;
  border-radius: 16px;
}
.metalPasteSwatch {
  top: 5px;
  background-image: linear-gradient(
    75deg,
    var(--metalValueColor) var(--metalness),
    #292929 var(--metalness)
  );
}
.roughPasteSwatch {
  top: calc(33% + 5px);
  background-image: linear-gradient(
    75deg,
    var(--roughValueColor) var(--roughness),
    #292929 var(--roughness)
  );
}

.playAnimationButton {
  top: 70px;
  left: 20px;
  background-color: var(--buttonBackgroundInactive);
}

.playAnimationButtonActive {
  background-color: var(--buttonBackgroundActive);
}

.helpButton {
  right: 10px;
  top: 10px;
}

.helpOverlay {
  width: 100%;
  height: 100%;
  background-color: hsl(1, 1%, 4%);
  opacity: 85%;
  position: absolute;
  top: 0;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: 3px solid white; /*Removes extra border that FF applies*/
  border-radius: 100%; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  height: 1rem;
  width: 1rem;
}

.metalnesSlider::-moz-range-thumb {
  background-color: var(--metalValueColor);
}

.roughnessSlider::-moz-range-thumb {
  background-color: var(--roughValueColor);
}

.zoomSlider::-moz-range-thumb {
  background-color: var(--zoomValueColor);
}

header * {
  grid-area: header;
  color: var(--yellow);
}

header > ul:first-child {
  display: flex;
  align-items: center;
  justify-content: start;
}

.headerItem {
  padding-left: 40px;
}

.social {
  margin-right: 10px;
  margin-left: auto;
}

.social ul {
  display: flex;
  justify-content: start;
  align-items: center;
}

.socialItem {
  padding: 10px;
}

footer {
  grid-area: footer;
}

.firstSection {
  grid-area: intro;
}

.firstSection a,
.firstSection a:visited {
  color: var(--yellow);
}

.firstSection h3 {
  font-size: 2rem;
}

.firstSection p {
  font-size: 1.2rem;
}

.secondSection {
  grid-area: demo;
  position: relative;
  overflow: hidden;
  background-color: hsla(220, 100%, 2%, 0.2);
  border-radius: 16px;
}

.secondSection
  button:not(.navbutton):not(.copyPropsButton):not(.toggleDragButtonActive):not(
    .playAnimationButtonActive
  ):not(.copyPropsButtonActive):not(.copyPropsButtonActive):not(
    .playAnimationButton
  ):not(.colorLockButton) {
  background-color: var(--buttonBackground);
}

.thirdSection {
  grid-area: outro;
}

.thirdSection h3 {
  font-size: 2rem;
}

.thirdSection p {
}

.firstSection,
.thirdSection {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
